@using cwagnerFinancialPortal.Extensions

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/ico" sizes="16x16" href="/assets/images/favicon.ico">
    <title>C Wagner | Financial Portal</title>
    <!-- Bootstrap Core CSS -->
    <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/horizontal/css/style.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="/horizontal/css/colors/default.css" id="theme" rel="stylesheet">
    <!--JQuery UI-->
    <link href="/assets/plugins/jqueryui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="fix-sidebar fix-header logo-center card-no-border logo-center">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="@Url.Action("Index", "Dashboard")">
                        <!-- Logo icon -->
                        <b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            @*<img src="../assets/images/logo-icon.png" alt="homepage" class="dark-logo" />*@
                            <!-- Light Logo icon -->
                            @*<img src="../assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />*@
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span style="color: white; font-size: x-large">
                            <!-- dark Logo text -->
                            @*<img src="../assets/images/logo-text.png" alt="homepage" class="dark-logo" />*@
                            <!-- Light Logo text -->
                            @*<img src="../assets/images/logo-light-text.png" class="light-logo" alt="homepage" />*@
                            Financial Portal
                        </span>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto mt-md-0">

                        <!-- ============================================================== -->
                        <!-- End Messages -->
                        <!-- ============================================================== -->
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <!-- ============================================================== -->
                        <!-- Comment -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- End Comment -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- Messages -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- End Messages -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- Profile -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @if (string.IsNullOrWhiteSpace(User.Identity.ProfilePicture()))
                                {
                                    <img src="~/assets/profilePics/StormTrooper.jpeg" class="img-circle" width="50" height="50" />
                                }
                                else
                                {
                                    <img src="@User.Identity.ProfilePicture()" class="img-circle" width="50" height="50" />
                                }
                            </a>
                            <div class="dropdown-menu dropdown-menu-right scale-up">
                                <ul class="dropdown-user">
                                    <li>
                                        <div class="dw-user-box">
                                            <div class="u-text">
                                                <h4>@User.Identity.GetFullName()</h4>
                                                <p class="text-muted">@User.Identity.Name</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="@Url.Action("Index", "Manage", routeValues: null)"><i class="ti-user"></i> My Profile</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <a href="javascript:document.getElementById('logoutForm').submit()" class="link"><i class="fa fa-power-off"></i> Logout</a>
                                        }
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-small-cap">@User.Identity.GetHouseholdName() Household</li>
                        <li>
                            <a class="has-arrow" href="@Url.Action("Index", "Household")" aria-expanded="false"><i class="mdi mdi-home-variant"></i><span class="hide-menu">@User.Identity.GetHouseholdName()</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="@Url.Action("Index", "Dashboard")">Quick-view Dashboard</a></li>
                                <li><a href="@Url.Action("Index", "Household")">Manage Household</a></li>
                                <li>@Html.ActionLink("Invite Member", "InviteMemberModal", "Household", null, new { data_target = "#modal", data_toggle = "modal", data_remote = "true" })</li>
                                <li><a href="@Url.Action("Index", "Home")" data-toggle="modal" data-target="#leaveHousehold">Leave Household</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow " href="@Url.Action("Index", "BankAccount")" aria-expanded="false"><i class="mdi mdi-bank"></i><span class="hide-menu">Bank Accounts</span></a>
                        </li>
                        <li>
                            <a class="has-arrow" href="@Url.Action("Index", "Budget")" aria-expanded="false"><i class="mdi mdi-square-inc-cash"></i><span class="hide-menu">Budgets</span></a>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    @*<div class="col-md-5 col-8 align-self-center">
                            <h3 class="text-themecolor m-b-0 m-t-0">Layout logo center</h3>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                                <li class="breadcrumb-item active">Layout logo center</li>
                            </ol>
                        </div>
                        <div class="col-md-7 col-4 align-self-center">
                            <div class="d-flex m-t-10 justify-content-end">
                                <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                                    <div class="chart-text m-r-10">
                                        <h6 class="m-b-0"><small>THIS MONTH</small></h6>
                                        <h4 class="m-t-0 text-info">$58,356</h4>
                                    </div>
                                    <div class="spark-chart">
                                        <div id="monthchart"></div>
                                    </div>
                                </div>
                                <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                                    <div class="chart-text m-r-10">
                                        <h6 class="m-b-0"><small>LAST MONTH</small></h6>
                                        <h4 class="m-t-0 text-primary">$48,356</h4>
                                    </div>
                                    <div class="spark-chart">
                                        <div id="lastmonthchart"></div>
                                    </div>
                                </div>
                                <div class="">
                                    <button class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
                                </div>
                            </div>
                        </div>*@
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                @if (!string.IsNullOrWhiteSpace(TempData["Message"] as string))
                {
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
                        @TempData["Message"]
                    </div>
                }
                @Html.Action("OverdraftNotification", "Home")
                @RenderBody()
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer">
                © 2017 Christina Wagner
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!--LEAVE HOUSEHOLD MODAL-->
    <div id="leaveHousehold" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="leaveHousehold" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel"><b>WARNING!</b></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <h4>Are you sure you want to leave this household?</h4>
                    <p>You will no longer be able to view its contents.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancel</button>
                    @using (Html.BeginForm("Leave", "Household", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger waves-effect waves-light">Leave</button>
                    }
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

<!--INTERCHANGABLE MODAL-->
    <div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                
            </div>
        </div>
    </div>
    <!-- /.modal-content -->

    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/horizontal/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="/horizontal/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="/horizontal/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="/assets/plugins/sparkline/jquery.sparkline.min.js"></script>
    <!--Custom JavaScript -->
    <script src="/horizontal/js/custom.min.js"></script>
    <!--DataTables-->
    <script src="/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <!--JQuery UI-->
    <script src="~/assets/plugins/jqueryui/jquery-ui.min.js"></script>
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
    <script>
        $('body').on('click', 'a[data-toggle="modal"][data-remote="true"]', function () {
            var url = $(this).attr('href');
            $('#modal .modal-content').load(url);
        }); 

        $('#modal').on('hidden.bs.modal', function () {
            $('#modal .modal-content').html("");
        })
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
