@model cwagnerFinancialPortal.Models.Budget.EditBudgetItemViewModel

@using (Html.BeginForm("EditItem", "Budget", FormMethod.Post, new { @class = "form-material form-horizontal" }))
{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Edit this budget item</h4>
    </div>
    <div class="modal-body">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(e => Model.Id)
        <div class="form-group">
            <input class="form-control" type="text" name="@nameof(Model.Amount)" required="" value="@Model.Amount">
        </div>
        <div class="form-group">
            <label for="budgetItem-category" class="control-label">Category: </label>
            @Html.DropDownListFor(model => model.CategoryId, Model.CategorySelectList)
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-danger waves-effect waves-light">Save changes</button>
    </div>
}