@model cwagnerFinancialPortal.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal form-material", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h3 class="box-title m-b-20">Forgot Password</h3>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-xs-12">
            <input class="form-control" type="text" name="@nameof(Model.Email)" required="" placeholder="Email">
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group m-b-0">
        <div class="col-sm-12 text-center">
            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Email Link</button>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
