@using cwagnerFinancialPortal.Models

@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal form-material", role = "form", id = "loginform" }))
{
    @Html.AntiForgeryToken()
    <h3 class="box-title m-b-20">Sign In</h3>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-xs-12">
            <input class="form-control" type="text" name="@nameof(Model.Email)" required="" placeholder="Username">
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <input class="form-control" type="password" name="@nameof(Model.Password)" required="" placeholder="Password">
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <div class="checkbox checkbox-primary pull-left p-t-0">
                <input id="checkbox-signup" type="checkbox">
                <label for="checkbox-signup"> Remember me </label>
            </div>
            <a href="@Url.Action("ForgotPassword")" class="text-dark pull-right" id="to-recover">
                <i class="fa fa-lock m-r-5"></i>Forgot password?
            </a>
        </div>
    </div>
    <div class="form-group text-center m-t-20">
        <div class="col-xs-12">
            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Log In</button>
        </div>
    </div>
    <div class="form-group m-b-0">
        <div class="col-sm-12 text-center">
            @Html.ActionLink("Register as a new user", "Register", !string.IsNullOrWhiteSpace(ViewBag.ReturnUrl) ? new { ViewBag.ReturnUrl } : null , new { @class = "text-info m-l-5" })
        </div>
    </div>
}
@*Enable this once you have account confirmation enabled for password reset functionality*@
@*<div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
