@model cwagnerFinancialPortal.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal form-material", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h3 class="box-title m-b-20">Reset Password</h3>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Code)
    <div class="form-group">
        <div class="col-xs-12">
            <input class="form-control" type="text" name="@nameof(Model.Email)" required="" placeholder="Email">
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <input class="form-control" type="password" name="@nameof(Model.Password)" required="" placeholder="Password">
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <input class="form-control" type="password" name="@nameof(Model.ConfirmPassword)" required="" placeholder="Confirm Password">
        </div>
    </div>
    <div class="form-group text-center m-t-20">
        <div class="col-xs-12">
            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Reset</button>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
