@using cwagnerFinancialPortal.Extensions

@{
    ViewBag.Title = "ChangeName";
}

<div class="row">
    <!-- Column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                @using (Html.BeginForm("ChangeName", "Manage", FormMethod.Post, new { @class = "form-horizontal form-material", id = "loginform", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h3 class="box-title m-b-20">Change your name</h3>
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div>
                        <p>Current Name: @User.Identity.GetFullName()</p>
                        <br />
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" name="@nameof(Model.UpdatedFirstName)" required="" placeholder="First Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" name="@nameof(Model.UpdatedLastName)" required="" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-md-1">
                            <button class="btn btn-success waves-effect waves-light m-t-20" type="submit">Change</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
